{% extends "base.html.twig" %}

{% block title %}Produit add{% endblock %}

{% block body %}
<h1 class="text-center">Ajouter produit</h1>

<div class="container">
{{ form_start(form)  }}



<button type="submit" class="btn btn-primary" >ajouter</button>
{{ form_end(form) }}

</div>
{% endblock %}