{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<h1 class="text-center">Liste des produits</h1>
<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h3>{{ product.title }}</h3>
                    <img src="{{ product.image }}" alt="" class="img-fluid">
                </div>
                <div class="card-body">
                    <div class="text-end">{{ product.price }}</div>
                    <div class="text-center my-3">
                        <a href="{{ path('cart_add', {id: product.id}) }}" class ="btn btn-primary">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
